<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<property name="PROJECT_NAME" value="dailylog" />
	<property name="LOG_FILE_PATH" value="/dev/log/dailylog" />

	<logger name="org.springframework" level="INFO"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned by default the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] %-50class{50} : %-5line - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE_PATH}/${PROJECT_NAME}.log</file>

		<!-- http://logback.qos.ch/manual/appenders.html -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_PATH}/${PROJECT_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] %-50class{50} : %-5line - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="LOGSTASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE_PATH}/${PROJECT_NAME}-logstash.log</file>

		<!-- http://logback.qos.ch/manual/appenders.html -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_PATH}/${PROJECT_NAME}-logstash.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>

	<root level="DEBUG">
		<!--<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<appender-ref ref="LOGSTASH" />-->
		<appender-ref ref="${logback.appender}" />
	</root>
</configuration>